:root {
	--main-bg-color: #1a232f;
	--B-color: #0763d7;
	--I-color: #e41e1c;
	--N-color: #bacbd3;
	--G-color: #37af01;
	--O-color: #d2c424;

}

body {
	background: var(--main-bg-color);
	color: black;
}

button {
	padding: 0px;
	margin: 0px;
	width: 20%;
	height: 20%;

}

#app {
	height: 100vh;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	display: grid;
	
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, .75fr) .5fr repeat(2, 1.25fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-areas:
			"last-called board board board"
			"last-called board board board"
			"status status status status"
			"cardContainer cardContainer cardContainer cardContainer"

}

