body {
	background: #1a232f;
	color: black;


}

#app {
	height: 100vh;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	display: grid;
	
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, .75fr) .5fr repeat(2, 1.25fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-areas:
			"last-called board board board"
			"last-called board board board"
			"status status status status"
			"cardContainer cardContainer cardContainer cardContainer"

}

