@keyframes fade_in_selection {
	0% {background: orange; color: black; padding: 0px ; font-size: 25px;}
	25% {font-size: 22.5px;}
	50% {background: var(--not-called-color); font-size: 20px;} 
}

@keyframes final_selection {
	0% {background: var(--final-called-color); color: black; font-size: 25px}
	50% {background: var(--not-called-color); font-size: 30px;}
	75%  {background: var(--final-called-color); font-size: 20px;}
	100% {background: var(--final-called-color); font-size: 30px;}

}

.selected {
	background-color: var(--called-color);
  	border: 1px solid #1a232f;
	animation: fade_in_selection 2.75s ease-in;
}


.letter {
	color: white;
	font-size: xx-large;
	/*border: 10px solid #fff600;*/
	padding-right: 10px;
  	border: 1px solid var(--main-bg-color);

}

#final-letter {
	animation: final_selection 5s;

}

#board {
	border-collapse: collapse;
	background: var(--not-called-color);
	color: #ffffcc;
/*	font-family: "Lucida Console", "Courier New", monospace;*/
	height:100%;
	text-align: center;
	grid-area: board;
}

#board th, #board td {
  border: 4px solid var(--main-bg-color);
  border-radius: 12px;
  padding: 10px;
  font-size: 20px;
}

#B-box {
	background: var(--B-color);
}
#I-box {
	background: var(--I-color);
}
#N-box {
	background: var(--N-color);
}
#G-box {
	background: var(--G-color);
}
#O-box {
	background: var(--O-color);
}
	
