.selected {
	background-color: teal;
  	border: 1px solid #1a232f;
}


.letter {
	color: white;
	font-size: xx-large;
	/*border: 10px solid #fff600;*/
	padding-right: 10px;
  	border: 1px solid #1a232f;
}

#board {
	border-collapse: collapse;
	background: #2b2a26;
	color: #ffffcc;
	font-family: "Lucida Console", "Courier New", monospace;
	height:100%;
	text-align: center;
	grid-area: board;
}

#board th, #board td {
  border: 1px solid #1a232f;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

#B-box {
	background: #0763d7;
}
#I-box {
	background: #e41e1c ;
}
#N-box {
	background: #bacbd3 ;
}
#G-box {
	background: #37af01 ;
}
#O-box {
	background: #d2c424 ;
}
	
/*
table, td, tr{
	border: 1px solid #fff600;
	border-collapse: collapse;
}
*/

/*
These may be useful later
#B-row {

}

#I-row {

}

#N-row {

}

#G-row {

}

#O-row {

}
*/
