/*@keyframes outlining {
	25% {border-bottom: 5px solid red )}
	50% {border-bottom: 0px; border-right: 5px solid green}
	75% {border-right: 0px; border-top: 5px solid blue}
	100% {border-top: 0px; border-left: 5px solid yellow}

}
*/
/*linear-gradient(to right,red,yellow)*/
.cardContainer {
	grid-area: cardContainer;
	display: inline-flex;
	align-items: top;

}

.card {
	flex: 1;
	position: relative;
	margin: 12px 0 0 12px;
	border: 1px solid black;
	background: #d7d6ca;

}

.key {
	margin-bottom: 10px;
}

.cardTitle {
	display: flex;
	padding: 0;
	margin: 0;
}

.cardTitle h1 {
	margin: 0;
	margin-top: 10px;
	font-size: 30px;
	flex: 1;
	padding: 0;

}

.card table {
	margin: auto;
	width: 100%;
	height: 100%;
	padding-top: 0;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.cardNumbers tr, .cardNumbers td {
	background: #e5e5e5;
	border: .5px solid black;
	border-radius: 1.5px;
	font-size: 25px;
	padding: 10px;

}

#B {color: var(--B-color);}
#I {color: var(--I-color);}
#N {color: var(--N-color);}
#G {color: var(--G-color);}
#O {color: var(--O-color);}

#free {
	font-size: 20px;
	color: black;
	height: 10%;
	width: 10%;

	animation: outlining 4s infinite;
}

#free span {
	position: absolute;
	display: block;
}

#free span:nth-child(1) {
	top: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(90deg, transparent, #2196f3);
	
} 
#free span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(270deg, transparent, #2196f3);
	
} 
#free span:nth-child(2) {
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #2196f3);
	
} 
#free span:nth-child(4) {
	bottom: 0;
	left: 0;
	width: 6px;
	height: 100%;
	background: linear-gradient(0deg, transparent, #2196f3);
	
} 
