.cardContainer {
	grid-area: cardContainer;
	background-color: blue;
	/*flex-direction: row;*/
	/*flex-wrap: wrap;*/
	justify-content: center;
	align-items: center;

	display: flex;

}

.card {
	color: magenta;
	border: 2px solid teal;
	position: relative;
	margin: 0;
	flex: 1;

}

.cardTitle {
	padding-top: 8px;
	margin-top: 0px;
	text-align: center;
}

.cardNumbers {
	color: teal;
	border: 1px solid black;
	margin: 0;
    padding: 0; 
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cardNumbers tr, .cardNumbers td {
	border: .5px solid black;
	font-size: 18px;
	padding: 6px;
}
