 #selected-ball {
 	background: #00b7db;
	color: black;

 }

 #last-called {
 	display: flex;
	background: #1a232f;
	grid-area: last-called; 
	
 }

 #last-called  ul {
	color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column-reverse;
	list-style: none;

}

.ball {
	font-size: 20px;
	padding: 6px;
	margin: auto;
	background: #dbb000;
	color: black;
	border: 1px solid black;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	float: left;

	text-align: center;
	/*line-height: 20px; */

}

#last-called img {
	float: right;
	width: 100%;
	height: 100%;
}
